.eventsBox {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px #f7f4f4;

  .eventsCollectionRow {
    padding: 15px 0 15px 10px;
    margin-left: 15px;

    .eventsRow {
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .eventsImage {
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }
      .eventsName {
        font-weight: 500;
        font-size: 14px;
        font-style: normal;
        cursor: pointer;
        font-family: "SF UI Text", sans-serif;
      }
    }
  }
}

@media only screen and (max-width: 1240px) {
  .eventsBox {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;

    .eventsCollectionRow {
      padding: 10px;
      margin-left: 15px;

      .eventsRow {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;

        .eventsImage {
          width: 10px;
          height: 10px;
          margin-right: px;
        }
        .eventsName {
          font-weight: 500;
          font-size: 14px;
          font-style: normal;
          font-family: "SF UI Text", sans-serif;
        }
        .eventsName:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .eventsBox {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;

    .eventsCollectionRow {
      padding: 10px;
      margin-left: 15px;

      .eventsRow {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -5px;

        .eventsImage {
          width: 10px;
          height: 10px;
          margin-right: px;
        }
        .eventsName {
          font-weight: 500;
          font-size: 14px;
          font-style: normal;
          font-family: "SF UI Text", sans-serif;
        }
        .eventsName:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .eventsBox {
    background-color: #fff;
    border-radius: 20px;
    margin-top: 5px;

    .eventsRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      margin-top: -8px;

      .eventsImage {
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }
      .eventsName {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: #000000;
        line-height: 16px;
        font-family: "SF UI Text", sans-serif;
      }
    }
  }
}
