.suggestedPagesBox {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 5px 5px 5px #f7f4f4;

  .suggestedImage {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .dasDesign {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    margin-left: 15px;
    margin-right: 15px;

    .dasDesignText {
      font-weight: 500;
      font-style: normal;
      font-size: 12px;
      margin-bottom: 10px;
      color: #000000;
      font-family: "SF UI Text", sans-serif;
    }
  }
}

@media only screen and (max-width: 425px) {
  .suggestedPagesBox {
    display: none;
  }
}
